<% if user_signed_in? %>
  <!--<p id="notice"><%= notice %></p>-->

  <h2 class="todo_list_title"><%= @item.title %></h2>
  <p class="todo_list_sub_title"><%= @item.description %></p>

  <div id="points_wrapper">
    <%= render @item.points %>
    <div id="form">
      <%= render "points/form" %>
    </div>
  </div>

  <div class="links">
    <%= link_to "Edit", edit_item_path(@item) %> |
    <%= link_to "Delete", item_path(@item), method: :delete, data: { confirm: "Are you sure?" } %> |
    <%= link_to "Back", root_path %>
  </div>

<% else %>
    <%= render 'static_landing_page' %>
<% end %>
